<div class="footer_wrapper">
    <div class="small__icon">
        <a href="https://t.me/Lastsecondtours">
            <span class="telegram-background"></span>
        </a>
        <a href="https://instagram.com/lastsecondtours?igshid=5h67r65ujv28">
            <span class="telegram-background"></span>
        </a>
    </div>
    <!-- <div>
        <p style="color: #fefefe; text-align: center; margin:0 !important">تعداد شرکت کنندگان : {{voters}}
            &nbsp;&nbsp;&nbsp;&nbsp;تعداد رای های ثبت شده : {{votes}}</p>
    </div> -->
</div>
