.input {
  width: 476px;
  height: 5vh;
  border-radius: 62px;
  background-color: rgba(255, 255, 255, 0.19);
  transform: translateY(17px);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  input {
    background-color: transparent;
    width: 350px;
    height: 3.5vh;
    opacity: 1;
    font-family: IRANYekan;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.72;
    letter-spacing: 0px;
    text-align: center;
    border: none;
    outline: none;
    color: white;
    &::placeholder {
      color: white;
    }
  }
  :focus {
    outline: red auto 15px;
  }
}
